body
{
	font-style:oblique;
	font-size:25px;
	font-weight: bold;
	background-color: #e8e1d5;
	
}
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.div{
	padding: 10px ;
	margin:20px 10px 10px 50px;

}
.div2{
  padding: 10px ;
  margin:20px 10px 10px 150px;
}
a{
  margin: 10px 50px 10px 40px;
}
.vc{
  margin: 10px 60px 10px 160px;

}
