body
{
	font-style:oblique;
	font-size:20px;
	margin:10px 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}

fieldset,legend
{
	color:black;
	font-weight: bold;
	background-color:#ece0cf;	
	border:2px solid black;
	padding:8px;
	margin:5px;		
}
