		
body
{
	font-style:oblique;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-weight: bold;
}

div{
	font-size:25px;
	width: 770px;
	padding: 10px;
	margin: 20px 100px;
	border: 1px solid black;
	opacity: 0.8;
	background-color: #e4f7c2;

}
table, th, td {
	width: 800px;
	padding:15px;
	margin: 15px 90px;
	text-align: center;
 	border: 1px solid black;
  	border-collapse: collapse;
  	border-radius: 10px;
  	opacity: 0.9;
  	font-size:25px;
  	background-color: #e4f7c2;

}